<!doctype html>
<html lang="en">

{{>header}}

<body>

    <!-- Navbar -->

    {{>navbar}}

    <!-- Section Part -->
    <section>
        <div class="mainheader">
            <div class="container-fluid">
                <div class="headerSection">
                    <h1>About Covid-19</h1>
                </div>

                <div class="row w-100 h-100">
                    <!-- left side -->
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="leftside">
                            <img src="./images/7th.png" alt="earth" class="img-fluid">
                        </div>
                    </div>

                    <!-- Right Side -->
                    <div class="col-lg-7 col-md- col-12 order-lg-2 order-1">
                        <div class="rightside">
                            <h1>What is Covid-19 (Corona-Virus)</h1>
                            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered
                                coronavirus.

                                Most people infected with the COVID-19 virus will experience mild to moderate
                                respiratory illness and recover without requiring special treatment. Older people, and
                                those with underlying medical problems like cardiovascular disease, diabetes, chronic
                                respiratory disease, and cancer are more likely to develop serious illness.

                                The best way to prevent and slow down transmission is to be well informed about the
                                COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others
                                from infection by washing your hands or using an alcohol based rub frequently and not
                                touching your face.

                                The COVID-19 virus spreads primarily through droplets of saliva or discharge from the
                                nose when an infected person coughs or sneezes, so it’s important that you also practice
                                respiratory etiquette (for example, by coughing into a flexed elbow).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Symptoms -->
    <section>

        <div class="subSection">
            <div class="container-fluid subSection pt-5 pb-5">
                <div class="headerSection">
                    <h1>Coronavirus Symptoms</h1>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/cough.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/breathe.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/fever.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/flu.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/headache.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/throat.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
            </div>
        </div>

        <div class="subSection">
            <div class="container-fluid subSection pt-5 pb-5">
                <div class="headerSection">
                    <h1>6 Steps Preventions Against Coronavirus</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/p1.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/p2.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/p3.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/p4.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/p5.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <figure class="text-center">
                        <img src="./images/p6.png" alt="sym" class="img-fluid symImg">
                    </figure>
                </div>
            </div>
        </div>

    </section>

    <!-- Footer -->
    {{>footer}}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {{>script}}



</body>

</html>