<!doctype html>
<html lang="en">

{{>header}}

<body>

    <!-- Navbar -->

    {{>navbar}}

    {{!-- Header --}}
    <section>
        <div class="container-fluid">

            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="tempForm">
                        <input type="text" id="countryName" placeholder="Enter Country Name" autocomplete="off">
                    </form>
                </div>


                <div class="headerSection">
                    <h1>Covid-19 Live UPDATES OF THE World</h1>
                </div>

                <div class="table table-resonsive">
                    <table class="table table-bordered table-striped text-center fs" id="tabVal">
                        <tr>
                            <th>Country</th>
                            <th>Total Confirmed</th>
                            <th>Total Recoverd</th>
                            <th>Total Deaths</th>
                            <th>New Confirmed</th>
                            <th>New Recovered</th>
                            <th>Last Update Time</th>
                        </tr>
                    </table>
                </div>
            </div>
    </section>

    <!-- Footer -->
    {{>footer}}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {{>script}}
    <script src="./js/worldcases.js"></script>


</body>

</html>