@import "./navbar.css";


#map{
    width: 100vw;
    height: 100vh;
}


/* Footer */

footer{
    width: 100%;
    background-color: #fff;
    margin-top: auto;
}
 
footer p{
    margin: 0;
    text-align: center;
    color: #000;
    font-size: 1.6rem;
    line-height: 3.5rem;
}